@{
    ViewData["Title"] = "Member List";
}
<h1>@ViewData["Title"]</h1>
<button class="btn btn-primary">Add New Member</button>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Serial</th>
        <th>Name</th>
        <th>Session</th>
        <th>Email</th>
        <th>Codeforces ID</th>
        <th>Codechef ID</th>
        <th>Atcoder ID</th>
        <th>Lightoj ID</th>
        <th>Action</th>
    </tr>
</table>
