@model CPUTracking.Models.Create.CPUMember
@{
    ViewData["Title"] = "Member List";
}

<h1>Member List</h1>
<hr />
<div>
    <a class="btn btn-primary" asp-action="MemberList">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMember" method="post">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CodeforcesId" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="CodeforcesId" class="form-control" readonly />
                    <span class="input-group-append">
                        <a class="btn btn-primary right-align" asp-controller="ContestListInfo" asp-action="CodeforcesDetails">Show Details</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CodechefId" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="CodechefId" class="form-control" readonly />
                    <span class="input-group-append">
                        <a class="btn btn-primary right-align" asp-controller="ContestListInfo" asp-action="CodeforcesDetails">Show Details</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AtCoderId" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="AtCoderId" class="form-control" readonly />
                    <span class="input-group-append">
                        <a class="btn btn-primary right-align" asp-controller="ContestListInfo" asp-action="AtcoderDetails">Show Details</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LightOjId" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="LightOjId" class="form-control" readonly />
                    <span class="input-group-append">
                        <a class="btn btn-primary right-align" asp-action="MemberList">Show Details</a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClistId" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ClistId" class="form-control" readonly />
                    <span class="input-group-append">
                        <a class="btn btn-primary right-align" asp-action="MemberList">Show Details</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
